<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/index.css">
    <script src='main.js'></script>
</head>
<body>
    <ul>
        <li>🟪 Evento que lanza la persona por medio del aplicativo</li>
        <li>🟥 Evento que lanza el arduino</li>
        <li>🟦 Evento que se provoca mensualmente</li>
    </ul>
    <div class="contenedor">
        <div class="item"><a href="/mascotas/registrar">Registrar Perro</a></div>
        <div class="item" style="background-color: red;"><a>Identificar Perro</a></div>
        <div class="item" style="background-color: red;"><a>Registro de comida diaria</a></div>
        <div class="item"><a>Alertar Perdida</a></div>
        <div class="item" style="background-color: rgb(73, 73, 242);"><a>Analisis de Salud</a></div>
    </div>
</body> 
</html>